.featureCard{
    display: flex;
    flex-direction: column;
    width: 50vw;
    position: relative;
    top: 150px;
    align-items: center;
}

.icon{
    color: var(--primary-color);
    font-size: 28px;
}

.num{
    color: var(--heading-color);
    font-family: var(--font-main);
    font-size: 30px;
}

.desc{
    color: rgb(74, 85, 101);
    font-size: 14px;
    font-family: var(--font-main);
}