.services-section{
	padding: 60px 0 80px 0;
	background: white;
}

.services-box{
	font-family: var(--font-main);
	text-align: center;
	font-size: 35px;
	width: 50vw;
	margin: 0 auto;
}

.services-heading{
		color: var(--heading-color);
		font-weight: 500;
}

.services-content{
		color: var(--text-color);
		font-size: 20px;    
}

.services-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90vw;
	max-width: 1400px;
	margin: 60px auto 0 75px;
	gap: 40px;
}
z
.materials-section{
	background: rgb(249, 250, 253);
	padding: 80px 0;
	height: auto;
}

.materials-box{
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.serv-materials-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90vw;
	max-width: 1400px;
	margin: 60px auto 0 auto;
	gap: 40px;
}

.materials-content{
	text-align: center;
	font-family: var(--font-main);
	margin-bottom: 20px;
}

.materials-heading, .unique-heading{
		color: var(--heading-color);
		font-size: 48px;
		font-weight: 500;
}

.materials-desc{
		color: var(--text-color);
		font-size: 20px;
}

.unique-service {
	padding: 80px 0;        
	display: flex;
	justify-content: center;
	background: white;
}

.unique-service-content {
	width: 90%;
	max-width: 1400px;
	display: flex;
	gap: 60px;
	align-items: center;
	justify-content: space-between;   
}

.unique-service-content img.scrap {
	width: 48%;              
	height: 500px;
	border-radius: 24px;
	object-fit: cover;
	box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.service-keypoints {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.unique-heading {
	font-size: 48px;
	font-weight: 600;
	color: var(--heading-color);
	margin-bottom: 20px;
}

.footer-section{
	margin-top: 80px;
}
