.navbar{
    position: sticky;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.navbar-links{
  display: flex;
  gap: 15px;
  font-family: var(--font-main);
  font-size: 16px;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .navbar-links {
    flex-direction: column;
    gap: 5px;
  }
}