@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 60px;
}

.hero-left {
  width: 50%;
}

.hero-btn {
  color: white;
  display: flex;
  text-align: center;
  padding: 7px 15px;
  border-radius: 20px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  width: fit-content;
  box-shadow: 0.5px 0.25px 10px #6ca5d7;
  height: 22px;
}

.btn-icon {
  height: 20px;
  width: 20px;
}

.btn-content {
  margin-left: 10px;
}

.heading {
  font-family: var(--font-main);
  font-size: 65px;
  margin: 8px 0 12px;
}



.content{
  font-family: var(--font-main);
  font-size: 20px !important;
  color: var(--text-color);
  position: relative;
  bottom: 1px;
}

.hero-right {
  width: 45%;
  display: flex;
  justify-content: center;
}

.truck-img {
  width: 100%;
  max-width: 550px;
  padding-top: 100px;
}
