.btn{
    border-radius: 8px;
    min-height: 38px;
    border: none;
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: var(--font-main);
    font-weight: 500;
    line-height: 1;
}