.footer {
  background: linear-gradient(180deg, #0d1b2a 0%, #1b263b 50%, #092c56 100%);
  padding: 80px 80px;
  display: flex;
  justify-content: center;
  color: white;
}

.footer-content{
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  margin-top: 12px;
  line-height: 1.5;
  text-align: center;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-top: 10px;
  padding: 0;
  justify-content: center;
}

.footer-line{
  margin: 20px;
}

.copyright{
  font-family: var(--font-main);
  font-size: 16px;
}

.recycle-icon{
  color: rgba(6, 124, 6, 0.933);
  font-size: 18px;
  margin: 1px;
  position: relative;
  top: 5px;
}

.social-links li{
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.3s ease;
}

.social-links li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.social-links li a {
  color: white;
  font-size: 20px;
  position: relative;
  top: 3px;
}
