:root {
  --primary-color: rgb(0, 102, 255);
  --secondary-color: #06b6d4;
  --font-main: sans-serif;
  --text-color: rgb(74, 85, 101);
  --heading-color: rgb(10, 22, 40);
}

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden; 
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}


.main{
  background: linear-gradient(to right, #e0f2fe, #bfdbfe, #93c5fd);
  height: 100vh;
}

.imp{
  font-family: 'Dancing Script', sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 70px;
}